.navbar {
    padding: 20px;
    display: flex;
    align-items: center;
    max-width: 80%;
    margin: 0 auto;
    margin-top: 70px;
    margin-bottom: 70px;
    h1 {
      font-weight: 500;
      color: $secondary-color;
      font-size: $big-font-size;
      span {
        font-weight: 700;
        color: $secondary-color;
      }
    }
    button {
      border: none;
      margin-left: auto;
    }
    .nav-links {
      margin-left: auto;
      font-size: $default-font-size;
    }
    a {
      color: $dark-grey;
      margin-left: 60px;
      text-decoration: none;
      padding: 6px;
      &:hover {
        color: $primary-color;
      }
    }
  }
  
  .btn--download {
    font-size: $default-font-size;
    font-weight: 600;
    padding: 15px;
    width: 300px;
    text-align: center;
    transition: 0.5s;
    background-size: 200% auto;
    color: $white-color;
    transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
    cursor: pointer;
    display: inline-block;
    border-radius: 15px;
    background-image: linear-gradient(
      to right,
      $secondary-color 0%,
      $primary-color 51%,
      $secondary-color 100%
    );
    outline: none;
    &:hover {
      background-position: right center;
    }
  }