# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

#localtests
/experimental/tests 

# dependencies
node_modules
venv
indexes

# localstorage
results
uploads

# testing
/app/coverage/

# production
/app/build

# secrets
.env

# misc
/app/.DS_Store
/app/.env.local
/app/.env.development.local
/app/.env.test.local
/app/.env.production.local
/app/.eslintcache
/experimental/sratoolkit.2.10.9-ubuntu64
__pycache__
.pnp
.pnp.js

npm-debug.log*
yarn-debug.log*
yarn-error.log*
**/.eslintcache*