# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

#localtestfiles
/experimental/SRR10148979*
/experimental/influenza.fna

# dependencies
/pocd-seq-app/node_modules
/pocd-seq-app/.pnp
/pocd-seq-app/.pnp.js
/pocd-seq-app/api/venv

# testing
/pocd-seq-app/coverage

# production
/pocd-seq-app/build

# misc
/pocd-seq-app/.DS_Store
/pocd-seq-app/.env.local
/pocd-seq-app/.env.development.local
/pocd-seq-app/.env.test.local
/pocd-seq-app/.env.production.local
__pycache__

npm-debug.log*
yarn-debug.log*
yarn-error.log*
