/*About Us section*/
.aboutUs {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 100px;
}

.aboutUsImage{
    width: 750px;
}

.aboutUsTitle h1{
    padding-top: 2rem;
    padding-bottom: 2rem;
    text-align: center;
    font-size: 30px;  
}

.aboutUsBody {
    padding:0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.aboutUsBody {
    padding-left: 20px;
    padding-right: 20px;
}

.ourGoals {
    display:flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-bottom: 100px;
    background: #F7F7F7;
    border-radius: 5px;
}

.ourGoalsImageWrap {
    margin-right: 2rem;
    height: auto;
    width: 400px;
}

.ourGoalsText {
    margin-left: 2rem;
    text-align: center;
    width: 400px;
}

.ourGoalsText p {
    padding-left: 2rem;
    padding-right: 2rem;
}

.companyUpdates {
    margin-bottom: 100px;  
}

.companyUpdatesWrapper {
    display: flex;
    flex-direction: column;
}

.companyUpdatesContent {
    display: flex;
    flex-direction: row;
}

.companyUpdatesTitle {
    margin-top: 3rem;
    margin-bottom: 3rem;
    display: flex;
}

.companyUpdatesAnnouncements {
    width: 400px;
    margin-right: 2rem;
}

.companyUpdatesSocial {
    width: 400px;
}
.companyUpdatesAnnouncements a {
    color: black;
}

.companyUpdatesAnnouncements a:hover {
    text-decoration: underline;
}

.companyUpdatesAnnouncements h2 {
    margin-bottom: 30px;
}

.companyUpdatesSocial h2 {
    margin-bottom: 30px;
}

.companyUpdatesBox {
    display: flex;
    flex-direction: row;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.companyUpdatesIcon {
    min-width: 40px;
    height: 40px;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    font-size: 22px;
    margin-right: 2rem;
}

.companyUpdatesIcon:hover {
    transition-duration: 400ms;
    background:#D8D8D8;
}

@media screen and (max-width: 1200px) {

    .aboutUs {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .aboutUsBody p {
        width: 500px;
    }
    
    .aboutUsBody {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
    }
    .ourGoals {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}

@media screen and (max-width: 600px) {

    .aboutUsBody p {
        width: 400px;
    }

    .aboutUsImage {
        width: 600px;
    }

    .ourGoalsImageWrap {
        width: 350px;
        margin-right: 0;
    }

    .ourGoalsText {
        width: 300px;
        margin-left: 0;
    }

}
  