.contactWrap {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.contactTitle {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
  padding: 0 50px;
  margin-bottom: 30px;
}

.contactTitle h1 {
  font-size: 30px;
  padding-top: 2rem;
  padding-bottom: 2rem;
  text-align: center;
  font-size: 30px;  
}

.contactBox {
  display: flex;
  flex-direction: row;
  margin-top: 2rem;
  margin-bottom: 3rem;
}

.contactIcon {
  min-width: 60px;
  height: 60px;
  background: #c6c6c6;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  font-size: 22px;
}

.contactText {
  display: flex;
  margin-left: 20px;
  font-size: 16px;
  flex-direction: column;
}

@media screen and (max-width: 1200px) {
  .contactWrap {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .contactBox {
    margin-top: 2rem;
    margin-bottom: 2rem;
  }
}

@media screen and (max-width: 800px) {

  .contactBox {
    height: 100px;
  }
}