.resultPositive {
  background-color: white;
  padding-left: 2rem;
  box-shadow: 5px 5px 10px grey;
  border-radius: 10px;
}

.resultPositive h1 {
  color: #53c245;
  margin-bottom: 0;
}

.resultNegative {
  background-color: white;
  padding-left: 2rem;
  box-shadow: 5px 5px 10px grey;
  border-radius: 10px;
}

.resultNegative h1 {
  color: red;
}

.sampleInfo {
  background-color: white;
  box-shadow: 5px 5px 10px grey;
  border-radius: 10px;
  margin-left: 2rem;
  padding-left: 4rem;
  padding-top: 2rem;
}

.barGraph {
  background-color: white;
  box-shadow: 5px 5px 10px grey;
  border-radius: 10px;
  margin-right: 2rem;
  padding-top: 2rem;
}

.resultPageBody {
  margin-top: 2rem;
}

.resultPageBtn {
  list-style-type: none;
  border: none;
  font-size: 1.6rem;
  font-weight: 600;
  padding: 15px;
  width: 250px;
  text-align: center;
  transition: 0.5s;
  background-size: 200% auto;
  color: #fff;
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  cursor: pointer;
  display: inline-block;
  border-radius: 15px;
  background-image: linear-gradient(
    to right,
    #1861a6 0%,
    #2f8ae1 51%,
    #1861a6 100%
  );
  outline: none;
}

.resultPageBtn:hover {
  background-position: right center;
}

.saveResultBtn {
  margin-right: 2rem;
  margin-top: 2rem;
}

.Green_Check {
  width: 50px;
  padding: 10px;
  height: auto;
  margin-left: 2rem;
  margin-right: 2rem;
}

.Red_X {
  width: 50px;
  padding: 10px;
  height: auto;
  margin-left: 2rem;
  margin-right: 2rem;
}

.sampleInfo p {
  font-weight: 500;
}

/*Navbar content below max-width*/
@media screen and (max-width: 960px) {
  .resultPositive {
    padding-top: 2rem;
    padding-bottom: 2rem;
  }

  .resultNegative {
    padding-bottom: 2rem;
    padding-top: 2rem;
  }
}
