html,
body {
  font-size: 62.5%;
  width: 100%;
  margin: 0px;
  padding: 0px;
  // overflow-x: hidden;
}

* {
  margin: 0;
  font-family: "Montserrat";
  color: #333;
}

.section {
  min-height: 100vh;
}
