.topLeftBackground {
  display: inline-block;
  position: absolute;
  z-index: -999;
  top: 0;
  left: 0;
}

.rightBackground {
  display: inline-block;
  position: absolute;
  z-index: -999;
  height: 100vh;
  right: 0;
  top: 0;
}

@media screen and (max-width: 600px) {
  .topLeftBackground {
    display: none;
  }
}
