/*Download App Styling*/
.download-pg-btn {
    list-style-type: none;
    border: none;
    font-size: 1.6rem;
    font-weight: 600;
    padding: 15px;
    width: 300px;
    text-align: center;
    transition: 0.5s;
    background-size: 200% auto;
    color:#fff;
    transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
    cursor: pointer;
    display: inline-block;
    border-radius: 15px;
    background-image: linear-gradient(
        to right,
        #1861a6 0%,
        #2f8ae1 51%,
        #1861a6 100%
    );
    outline: none;
}
  
.download-pg-btn:hover {
    background-position: right center;
}

.download-page-main {
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

/*When screen is larger than 960px*/
@media (min-width: 960px){

    .download-page-main {
        flex-direction: row;
    
    }

    h1 {
        padding-top: 2rem;
        padding-bottom: 2rem;
    }

    .download-page-wrapper {
        position:relative;
        margin-right: 3rem;
    }

}

