/* About Us section */
.aboutUs {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* Style the title of About Us section */
.aboutUsTitle h1{
    padding-top: 2rem;
    padding-bottom: 2rem;
    text-align: center;
    font-size: 30px;  
}

.aboutUsBody {
    width: 50%;
}

/* Style the content of About Us section */
.aboutUsBody h2 {
    display: flex;
    justify-content: center;
    text-align: center;
    margin-bottom: 100px;
    margin-top: 100px;

    line-height: 3;
    font-weight: 600;
}

.ourValueWrap {
    display: flex;
    flex-direction: row;
    background-color: #8ED1FC;
    justify-content: center;
}

.ourValueTitle h1 {
    font-size: 6rem;
    color: rgba(255, 255, 255, 1);
    width: 50%;
}

.ourValueTitle {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.ourValueBodyWrap {
    display: flex;
    flex-direction: row;
}

.ourValueBoxCol {
    display: flex;
    flex-direction: column;
}

.valueBox {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-bottom: 60px;
    margin-top: 60px;
}

.valueBox h2 {
    color:white;
    font-size: 3rem;
    margin-top: 20px;
    margin-bottom: 20px;
    font-weight: 600;
}

.valueBox p {
    color:#6B6B6B;
    font-weight: 600;
    line-height: 2;
    font-size: 1.8rem;
    margin-left: 2rem;
    margin-right: 2rem;
}

.ourBenefitBody {
    width: 50%;
}

.ourBenefitWrap {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.ourBenefitTitle h1{
    font-size: 30px; 
}

.ourBenefitBody h2 {
    display: flex;
    justify-content: center;
    text-align: center;
    margin-bottom: 100px;
    margin-top: 100px;
    line-height: 3;
    font-weight: 600;
}

.ourBenefitSectionWrap {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 10rem;
    align-items: center;
}

.ourBenefitCol {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.ourBenefitSection {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
    margin-top: 3rem;
    margin-bottom: 3rem;
    margin-left: 5rem;
    margin-right: 5rem;
    width: 50%;
}

.ourBenefitIcon {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 40px;
}

.ourBenefitSubTitle h3 {
    margin: 2rem;
    font-size: 20px;
    font-weight: 600;
}

.ourBenefitText {
    display: flex;
    justify-content: center;
    line-height: 2;
}

.ourBenefitText p {
    font-weight: 500;
    font-size: 18px;
}

/* OurGoals section */
.ourGoals {
    display:flex;
    flex-direction: row;
    margin-top: 5rem;
    margin-bottom: 5rem;
}

.ourGoalsImageWrap {
    width: 50%;
    display: flex;
    justify-content: flex-end;
    margin-left: 3rem;
    margin-right: 3rem;
}

/* Style the ourGoals image */
.ourGoalsImage {
    width: 70%;
}

/* Style the ourGoals text */
.ourGoalsTextWrap {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-left: 3rem;
    margin-right: 3rem;
}

.ourGoalsText {
    width: 70%;
}

.ourGoalsText h1 {
    font-size: 40px;
    font-weight: 700;
    margin-top: 5rem;
    margin-bottom: 5rem;
}

.ourGoalsText h3 {
    margin-bottom: 5rem;
    font-size: 18px;
    font-weight: 500;
}

.ourGoalsText ul {
    font-size: 20px;
}

.ourGoalsText ul li p {
    font-size: 18px;
    font-weight: 450;
    margin: 2rem;
}

/* Company Updates section */
.companyUpdates {
    margin-bottom: 100px;  
}

.companyUpdatesWrapper {
    display: flex;
    flex-direction: column;
}

.companyUpdatesContent {
    display: flex;
    flex-direction: row;
}

.companyUpdatesTitle {
    margin-top: 3rem;
    margin-bottom: 3rem;
    display: flex;
}

.companyUpdatesAnnouncements {
    width: 400px;
    margin-right: 2rem;
}

.companyUpdatesSocial {
    width: 400px;
}
.companyUpdatesAnnouncements a {
    color: black;
}

.companyUpdatesAnnouncements a:hover {
    text-decoration: underline;
}

.companyUpdatesAnnouncements h2 {
    margin-bottom: 30px;
}

.companyUpdatesSocial h2 {
    margin-bottom: 30px;
}

.companyUpdatesBox {
    display: flex;
    flex-direction: row;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

/* Social Media icon styling */
.companyUpdatesIcon {
    min-width: 40px;
    height: 40px;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    font-size: 22px;
    margin-right: 2rem;
}

.companyUpdatesIcon:hover {
    transition-duration: 400ms;
    background:#D8D8D8;
}

/* When screen is less than 1200px */
@media screen and (max-width: 1200px) {

    .aboutUs {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .aboutUsBody p {
        width: 500px;
    }
    
    .aboutUsBody {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
    }
    .ourGoals {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}

/* When screen is less than 600px */
@media screen and (max-width: 600px) {

    .aboutUsBody p {
        width: 400px;
    }

    .aboutUsImage {
        width: 600px;
    }

    .ourGoalsImageWrap {
        width: 350px;
        margin-right: 0;
    }

    .ourGoalsText {
        width: 300px;
        margin-left: 0;
    }

}
  