/* Style the title of the page */
.contactTitle h1 {
  padding-top: 2rem;
  padding-bottom: 2rem;
  text-align: center;
  font-size: 30px;
}

/* Displays content vertically */
.contactWrap {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
}

.contactWrap h2 {
  text-align: center;
}

.contactInfoWrap {
  display: grid;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

/* Displays each method of contact horizontally */
.contactBox {
  display: flex;
  flex-direction: row;
  margin-top: 3rem;
  margin-bottom: 3rem;
}

/* Styles the contact icons */
.contactIcon {
  min-width: 60px;
  height: 60px;
  background: #c6c6c6;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  font-size: 22px;
}

/* Styles the text of each method of contact */
.contactText {
  display: flex;
  margin-left: 20px;
  font-size: 16px;
  flex-direction: column;
}

/* When screen is less than 1200px */
@media screen and (max-width: 1200px) {
  .contactWrap {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .contactBox {
    margin-top: 2rem;
    margin-bottom: 2rem;
  }
}

/* When screen is less than 800px */
@media screen and (max-width: 800px) {

  .contactBox {
    height: 100px;
  }
}