/* Styling of the title */
.teamTitle h1 {
    padding-top: 2rem;
    padding-bottom: 2rem;
    text-align: center;
    font-size: 30px;
}

.teamProfileText h2 {
    margin-top: 8px;
    margin-bottom: 8px;
}

.teamProfileText p {
    font-size: 15px;
}

.teamProfileText {
    display: flex;
    flex-direction: column;
}

/* Size of each photo */
/* Make sure the photos are square otherwise they will be distorted */
.teamProfilePictures img{
    width: 350px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
}

/* Width of each coloumn */
.teamProfileCol {
    width: 360px;
    justify-content: space-evenly   ;
    margin-bottom: 3rem;
    padding-left: 10px;
    padding-right: 10px;
}

.teamProfilePictures:hover {
    transition: .5s ease;
    opacity: 0.8;
}

/* Professor section */
.professorWrap {
    display: flex;
    margin: 0 auto;
    justify-content: space-evenly;
}


/* Styling of the professors heading */
.professorTitle {
    padding-bottom: 2rem;
    margin-top: 30px;
    margin-bottom: 30px;
    border-bottom: 2px groove gray;
}

/* Developers section */
.developerWrap {
    display: flex;
    margin: 0 auto;
    justify-content: space-evenly;
}

/* Styling of the developers heading */
.developerTitle {
    padding-bottom: 2rem;
    margin-top: 30px;
    margin-bottom: 30px;
    border-bottom: 2px groove gray;
}


/* When screen is less than 991px */
@media screen and (max-width: 991px) {

    .teamProfilePictures img {
        width: 100%;
    }

    .teamProfileCol {
        text-align: center;
    }
}
