.teamWrap {
    display: flex;
    justify-content: center;
    align-items: center;
}

.teamWrapWidth {
    width: 95%;
}

/* Styling of the title */
.teamTitle h1 {
    padding-top: 2rem;
    padding-bottom: 2rem;
    text-align: center;
    font-size: 30px;
}

.professorTitle h2 {
    font-size: 28px;
    font-weight: 600;
}

.developerTitle h2 {
    font-size: 28px;
    font-weight: 600;
}

.teamProfileText h2 {
    margin-top: 8px;
    margin-bottom: 8px;
}

.teamProfileText p {
    font-size: 15px;
}

.teamProfileText {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.teamProfilePictures {
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Size of each photo */
/* Make sure the photos are square otherwise they will be distorted */
.teamProfilePictures img {
    width: 100%;
}

/* Width of each coloumn */
.teamProfileCol {
    display: flex;
    flex-direction: column;
    width: 450px;
    justify-content: space-evenly;
    margin-bottom: 3rem;
    padding-left: 10px;
    padding-right: 10px;
}

.teamProfilePictures img:hover {
    transition: .5s ease;
    opacity: 0.8;
}

/* Professor section */
.professorWrap {
    display: flex;
    justify-content: space-evenly;
}


/* Styling of the professors heading */
.professorTitle {
    padding-bottom: 2rem;
    margin-top: 30px;
    margin-bottom: 30px;
    border-bottom: 2px groove gray;
}

/* Developers section */
.developerWrap {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

/* Styling of the developers heading */
.developerTitle {
    padding-bottom: 2rem;
    margin-top: 30px;
    margin-bottom: 30px;
    border-bottom: 2px groove gray;
}


/* When screen is less than 1024px */
@media screen and (max-width: 1024px) {

    .professorWrap {
        align-items: center;
        flex-direction: column;

    }

    .developerWrap {
        align-items: center;
        flex-direction: column;

    }
}
