/* Style the title of the page*/
.faqTitle h1 {
  padding-top: 2rem;
  padding-bottom: 2rem;
  text-align: center;
  font-size: 30px;
}

/* Style the accordion section */
.accordionWrap {
  margin-top: 39.5px;
  display: flex;
  flex-direction: column;
}

/* Style the buttons that are used to open and close the accordion panel */
.accordion {
  border-top: 2px groove gray;
  border-bottom: none;
  border-left: none;
  border-right: none;
  padding-top: 5rem;
  background: none;
  color: #444;
  cursor: pointer;
  display: flex;
  align-items: center;
  outline: none;
}

/* Style the accordion when its active */
.accordion.active {
  padding-bottom: 0;
}

/* Style the title when the accordion is active */
.accordion.active .accordionTitle {
  color: #2f8ae1;
}

/* Style the accordion content title */
.accordionTitle {
  font-weight: 600;
  font-size: 18px;
  text-align: left;
}

/* Style the accordion chevron icon */
.accordionIcon {
  margin-left: auto;
  color: black;
}

/* Style to rotate icon when state is active */
.rotate {
  transform: rotate(90deg);
}

/* Style the accordion content panel. Note: hidden by default */
.accordionContent {
  overflow: hidden;
}

/* Style the accordion content text */
.accordionText {
  font-weight: 500;
  font-size: 16px;
  padding-top: 30px;
  padding-bottom: 30px;
}
