.container {
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.sec-container{
    display:flex;
    justify-content: space-evenly;
}

.file-upload {
    border: 2px solid black;
    padding: 2em;
    border-radius: 1em;
    width:100%;
    max-width: 500px;
    text-align: center;
    margin-top: 2em;
    font-size: 1em;
}

.file-upload__input {
    display: none;
}

.file-upload__label {
    display:inline-block;
    max-width: 250px;
    font-size: 0.95em;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    color:black;
    position: relative;
    top:8px;
}

h1 {
    margin: 1em 5em;
    font-size: 2em;
    width:100%;
    max-width: 960px;
    border-bottom: 2px solid black;
    padding: 1em;
    color: black
}

p {
    font-weight: bold;
    color:black
}

.submit{
    margin-top: 2em;
}