.about-container {
    padding-top: 200px;
}

.contact-container {
    padding-top: 250px;
}
  
.download-page-container {
    padding-top: 200px;
}

.home-container {
    padding-top: 300px;
}

.result-container {
    padding-top: 280px;
}

.faq-container {
    padding-top: 270px;
}

.team-container {
    padding-top: 270px;
}