.home-container {
    padding-top: 300px;
    margin-bottom: 100px;
}

.about-container {
    padding-top: 250px;
    margin-bottom: 100px;
}

.contact-container {
    padding-top: 250px;
    margin-bottom: 100px;
}
  
.downloadPage-container {
    padding-top: 250px;
    margin-bottom: 100px;
}

.result-container {
    padding-top: 250px;
    margin-bottom: 100px;
}

.faq-container {
    padding-top: 250px;
    margin-bottom: 100px;
}

.team-container {
    padding-top: 250px;
    margin-bottom: 100px;
}