// COLORS
$primary-color: #2f8ae1;
$secondary-color: #1861a6;
$tertiary-color: #4aa1f3;
$error-color: #f34a4a;
$hover-color: #e8f7fe;
$white-color: #fff;
$grey-color: #979797;
$dark-grey: #333333;
$background-grey: #d8d8d8;

// FONT SIZE
$small-font-size: 1rem;
$default-font-size: 1.6rem;
$mid-font-size: 2.5rem;
$big-font-size: 4rem;
