html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.wrap-layer {
  position: relative;
}

.content-layer {
  position: absolute;
  width: 100%;
  height: auto;
  top: 0;
  left: 0;
}

.bg-image {
  opacity: 0.25;
  width: 100vw;
  height: 100vh;
}
 