.modal-content {
  border-radius: 1.6rem;
  border: none;
  padding: 2.2rem;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.modal-header {
  border: none;
}

.modal-title {
  font-size: 2rem;
  font-weight: bold;
  text-align: center;
}

.modal-header button span {
  font-size: 2rem;
}
